{% extends 'base.html' %}
{%block title %}
<title>Signup Page</title>
{% endblock title%}

{% block css %}
{% endblock css %}

{% block scripts %}
{% endblock scripts %}

{% block content %}
<h1>Sign Up!</h1>

<form method="POST" action="{% url 'signup'%}" onsubmit="return checkAll();">
{% csrf_token %}
    ID:
    <input name="id" class="id_input" type="text" checked_result="fail" required />
    <!-- <button type="button" class="id_overlap_button" onclick="id_overlap_check()">중복검사</button> -->
    <img src="" id="id_check_sucess" style="display: none;"><br>
    Password:
    <input name="password1" type="password" value="" required><br>
    Confirm Password:
    <input name="password2" type="password" value="" required><br>
    Email:
    <input name="email" type="email" value="" required><br>
    <input type="submit" value="Sign Up!">
</form>
<script type="text/javascript">
    function id_overlap_check(){
        var t= document.getElementById('id');
        t.addEventListener('change', function(event){
            document.getElementById('')
        })
    }

// id = 5~20 영문+숫자
// pw = 8~16 영문+숫자+특문

    function checkAll(){
        var userId = document.getElementsByName('id')[0].value;
        var userPw1 =document.getElementsByName('password1')[0].value;
        var userPw2 =document.getElementsByName('password2')[0].value;
        var num_pattern = /[0-9]/; // 숫자
        var en_pattern = /[a-zA-Z]/; // 영문자
        var sp_pattern = /[~!@#$%^&*()_+|<>?:{}]/; // 특수문자
        if(!num_pattern.test(userId) || !en_pattern.test(userId) || userId.length <5 || userId.length>20){
            alert("아이디는 5~20글자 영문 + 숫자 조합이어야 합니다.");
            return false;
        }
        else if(!num_pattern.test(userPw1) || !en_pattern.test(userPw1) || !sp_pattern.test(userPw1)  || userPw1.length <8 || userPw1.length>16){
            alert("비밀번호는 8~16글자 영문 + 숫자 + 특수문자 조합이어야 합니다.");
            return false;
        }
        else if(userPw1 != userPw2){
            alert("두 비밀번호가 동일하지 않습니다.");
            document.getElementsByName('password2')[0].value="";
            document.getElementsByName('password2')[0].focus();
            return false;
        }
    }
</script>
{% endblock content %}
